* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
 scroll-behavior: smooth;
}

:root {
    --primaria:#4f46e5;
    --secundaria: #7c3aed;
    --escuro: #0f172a;
    --maisEscuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255,255,255,0.1);
}

body {
    background-color: var(--escuro);
}

.navegacao {
    position: fixed;
    top: 0;
    background: rgba(15,23,42,0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem; 
}

.menu{
    display: flex;
    list-style: none;
    gap: 3rem;
    justify-content: center;
}

.menu-link {
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem;
}

.menu-link::after{
    content:'';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: width 0.5s ease;
}

.menu-link:hover::after{
    width: 100%;
}

.cabecalho{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foto-perfil{
    width: 350px;
    height: 350px;
    box-shadow:0 0 20px rgba(79, 70, 229, 0.3);
    border-radius: 50%;
    border: 4px solid var(--vidro);
}

h1{
    font-size: 3.5rem;
    color: var(--primaria);
    font-weight: bold;
    margin: 20px;

}

.cabecalho-sub-titulo {
    font-size: 1.5rem;
    color: var(--claro);

}

.sobre {
    padding: 6rem 2rem;


}

.sobre-titulo{
    font-size: 3rem;
    color: var(--claro);
    text-align: center;
    margin-bottom: 30px;
}

.sobre-caixa{
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background:rgba(255,255,255,0.05);
}

.sobre-paragrafo{
    text-align: center;
    font-size: 1.2rem;
    color: var(--claro);
}

.projetos{
    padding: 2rem 6rem;
}

.projetos-titulo{
    margin-top: 100px;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: var(--claro);
}

.projetos-card:hover{
    box-shadow: 0 10px 10px rgba(79, 70, 229, 0.3);
    transform: translateY(-10px) scale(1.03);

}

.projetos-caixa{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap:2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projetos-card{
    background: rgba(255,255,255,0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
}

.projetos-imagem{
    height: 200px;
    width: 100%;
    object-fit: cover;

}

.info-projetos{
    margin-bottom: 5px;
    color: var(--claro);
}

.paragrafo-projetos{
    color: rgba(226, 232, 240, 0.8);
    line-height: 1.25rem;

}
.caixa-textos-projetos{
    padding: 1.5rem;
}

.contato{
    padding: 6rem 2rem;
}

.contato-titulo{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
    margin-top: px;
    color: var(--claro);
}

.formulario-contato{
    margin: 0 auto;
    max-width: 600px;
    background: rgba(255,255,255,0.05);
    backdrop-filter:blur(5px);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;
}

.campo-form{
    width: 100%;
    padding: 1rem;
    background: rgba(255,255,255,0.05);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(--vidro);
    outline: none;
}

.campo-form:focus {
    border-color: var(--secundaria);
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
}

.grupo-form{
    margin-bottom: 1.5rem;
}

.botao-form {
    color: var(--claro);
    background: linear-gradient(45deg, var(--primaria), var(--secundaria)) ;
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: 0.5s ease;
}

.botao-form:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.3);
}